@page "/addcusstomer"
@inherits AddCustomerBase
@attribute [Authorize(Roles ="Admin")]

<h3>Lägg upp ny kund</h3>

<EditForm Model="@User" OnValidSubmit="HandleValidUser">
    <DataAnnotationsValidator/>

    <h4> Fyll i kundens uppgifter </h4>
    <hr />
     <p style="color:red">@AddCustomerMessage</p>
    <br />
    <div class="row">
        <label for = "Username" class ="col-sm-2 col-form-label" >
            Användarnamn
        </label>
        <div class ="col-sm-10">
            <InputText id ="Username" class ="form-control" 
                        @bind-Value="User.Username" />
            <ValidationMessage For="@(() => User.Username)" />
        </div>
    </div>
    <div class="row">
        <label for = "Password" class ="col-sm-2 col-form-label" >
            Lösenord
        </label>
        <div class ="col-sm-10">
            <InputText id ="Password" class ="form-control" 
                        @bind-Value="User.Password" />
            <ValidationMessage For="@(() => User.Password)" />
        </div>
    </div>
    <div class="row">
        <label for = "Email" class ="col-sm-2 col-form-label" >
            Email
        </label>
        <div class ="col-sm-10">
            <InputText id ="Email" class ="form-control" 
                        @bind-Value="User.Email" />
            <ValidationMessage For="@(() => User.Email)" />
        </div>
    </div>
    <div class="row">
        <label for = "Gender" class ="col-sm-2 col-form-label" >
            Kön
        </label>
        <div class ="col-sm-10">
            <select id ="Gender" @bind="User.Gender"  class ="form-control" >
            <option value=""></option>
                @foreach(var gender in Enum.GetValues(typeof(Gender)))
            {
                <option value = "@gender" > @gender </option>
            }
            </select>
            <ValidationMessage For="@(() => User.Gender)" />
        </div>
    </div>
    <div class="row">
        <label for = "Givenname" class ="col-sm-2 col-form-label" >
            Förnamn
        </label>
        <div class ="col-sm-10">
            <InputText id ="Givenname" class ="form-control" 
                        @bind-Value="User.Givenname" />
            <ValidationMessage For="@(() => User.Givenname)" />
        </div>
    </div>
    <div class="row">
        <label for = "Surname" class ="col-sm-2 col-form-label" >
            Efternamn
        </label>
        <div class ="col-sm-10">
            <InputText id ="Surname" class ="form-control" 
                        @bind-Value="User.Surname" />
            <ValidationMessage For="@(() => User.Surname)" />
        </div>
    </div>
    <div class="row">
        <label for = "StreetAddress" class ="col-sm-2 col-form-label" >
            Gatauadress
        </label>
        <div class ="col-sm-10">
            <InputText id ="StreetAddress" class ="form-control" 
                        @bind-Value="User.StreetAddress" />
            <ValidationMessage For="@(() => User.StreetAddress)" />
        </div>
    </div>
    <div class="row">
        <label for = "City" class ="col-sm-2 col-form-label" >
            Stad
        </label>
        <div class ="col-sm-10">
            <InputText id ="City" class ="form-control" 
                        @bind-Value="User.City" />
            <ValidationMessage For="@(() => User.City)" />
        </div>
    </div>
    <div class="row">
        <label for = "Zipcode" class ="col-sm-2 col-form-label" >
            Postkod
        </label>
        <div class ="col-sm-10">
            <InputText id ="Zipcode" class ="form-control" 
                        @bind-Value="User.Zipcode" />
            <ValidationMessage For="@(() => User.Zipcode)" />
        </div>
    </div>
    <div class="row">
        <label for = "Country" class ="col-sm-2 col-form-label" >
            Land
        </label>
        <div class ="col-sm-10">
            <InputText id ="Country" class ="form-control" 
                        @bind-Value="User.Country" />
            <ValidationMessage For="@(() => User.Country)" />
        </div>
    </div>
    <div class="row">
        <label for = "CountryCode" class ="col-sm-2 col-form-label" >
            Landskod (två bokstäver)
        </label>
        <div class ="col-sm-10">
            <InputText id ="CountryCode" class ="form-control" 
                        @bind-Value="User.CountryCode" />
            <ValidationMessage For="@(() => User.CountryCode)" />
        </div>
    </div>
        <div class="row">
        <label for = "Roll" class ="col-sm-2 col-form-label" >
            Roll
        </label>
        <div class ="col-sm-10">
            <select id ="Roll" @bind="User.Role"  class ="form-control" >
            <option value=""></option>
                @foreach(var role in Enum.GetValues(typeof(Role)))
            {
                <option value = "@role" > @role </option>
            }
            </select>
            <ValidationMessage For="@(() => User.Role)" />
        </div>
    </div>

    <button type = "submit" class = "btn btn-primary">
        Skapa konto
    </button>
</EditForm>
