@page "/addloan"
@inherits AddLoanBase
@attribute [Authorize(Roles ="Admin")]

<EditForm Model="@LoanDto" OnValidSubmit="HandleValidLoan">
    <DataAnnotationsValidator/>

    <h4> Lägg upp nytt lån för en kund </h4>
    <hr />
    <p style="color:red">@AddLoanMessage</p>
    <br />
    <div class="row">
        <label for = "AccountId" class ="col-sm-2 col-form-label" >
            KontoId
        </label>
        <div class ="col-sm-10">
            <InputNumber id ="AccountId" class ="form-control" 
                        @bind-Value="LoanDto.AccountId" />
            <ValidationMessage For="@(() => LoanDto.AccountId)" />
        </div>
    </div>
    <div class="row">
        <label for = "Amount" class ="col-sm-2 col-form-label" >
            Summa
        </label>
        <div class ="col-sm-10">
            <InputNumber id ="Amount" class ="form-control" 
                        @bind-Value="LoanDto.Amount" />
            <ValidationMessage For="@(() => LoanDto.Amount)" />
        </div>
    </div>
    <div class="row">
        <label for = "Duration" class ="col-sm-2 col-form-label" >
            Lånets längd
        </label>
        <div class ="col-sm-10">
            <select id ="Duration" @bind="LoanDto.Duration"  class ="form-control" >
            <option value=""></option>
                @foreach(var duration in LoanDuration)
            {
                <option value = "@duration" > @duration </option>
            }
            </select>
            <ValidationMessage For="@(() => LoanDto.Duration)" />
        </div>
    </div>
         <div class="row">
        <label for = "Status" class ="col-sm-2 col-form-label" >
            Lånestatus
        </label>
        <div class ="col-sm-10">
            <select id ="Status" @bind="LoanDto.Status"  class ="form-control" >
            <option value=""></option>
                @foreach(var status in Enum.GetValues(typeof(LoanStatus)))
            {
                <option value = "@status" > @status </option>
            }
            </select>
            <ValidationMessage For="@(() => LoanDto.Status)" />
        </div>
    </div>
    <button type = "submit" class = "btn btn-primary">
        Lägg upp lån
    </button>
</EditForm>
 