<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BankApp2.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="Admin">
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/adminstartpage" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addcusstomer" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lägg upp kund
            </NavLink>
        </div>
    </nav>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addaccount" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lägg upp konto
            </NavLink>
        </div>
    </nav>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addloan" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lägg upp lån
            </NavLink>
        </div>
    </nav>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addaccounttype" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lägg upp ny kontotyp
            </NavLink>
        </div>
    </nav>
</div>
</AuthorizeView>

<AuthorizeView Roles="Customer">
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/customerstartpage" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Startsida kund
            </NavLink>
        </div>
    </nav>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/maketransaction" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Gör överföring
            </NavLink>
        </div>
    </nav>
</div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
